{% extends "header.html" %}

{% block content %}
{% load static %}
    <section id="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Gallery</h1>
                        <ul class="breadcrumb-nav list-inline">
                            <li><a href="index-2.html">Home</a></li>
                            <li class="active">Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!-- Start: Gallery Items
    ============================= -->
    <section id="gallery" class="section-padding-80">
        <div class="container">
            <div class="row">
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-item">
                        <figure>
                            <img src="{% static 'img/gallery/galleryitem01.jpg' %}" alt="">
                            <figcaption>
                                <div class="inner-content">
                                    <img src="{%  static 'img/gallery/gallery-icon.png'  %}" alt="">
                                    <h4>BUSINESS IDEAS</h4>
                                    <p>established fact that a reader will distracted by the readable content of a page looking at its layout. The point of using more-or-less normal distribution of mind</p>
                                </div>
                                <a href="#" class="gallery-popup mfp-image"><i class="icofont icofont-search-alt-1"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-item">
                        <figure>
                            <img src="{% static 'img/gallery/galleryitem01.jpg' %}" alt="">
                            <figcaption>
                                <div class="inner-content">
                                    <img src="{%  static 'img/gallery/gallery-icon.png'  %}" alt="">
                                    <h4>BUSINESS IDEAS</h4>
                                    <p>established fact that a reader will distracted by the readable content of a page looking at its layout. The point of using more-or-less normal distribution of mind</p>
                                </div>
                                <a href="#" class="gallery-popup mfp-image"><i class="icofont icofont-search-alt-1"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-item">
                        <figure>
                            <img src="{% static 'img/gallery/galleryitem01.jpg' %}" alt="">
                            <figcaption>
                                <div class="inner-content">
                                    <img src="{%  static 'img/gallery/gallery-icon.png'  %}" alt="">
                                    <h4>BUSINESS IDEAS</h4>
                                    <p>established fact that a reader will distracted by the readable content of a page looking at its layout. The point of using more-or-less normal distribution of mind</p>
                                </div>
                                <a href="#" class="gallery-popup mfp-image"><i class="icofont icofont-search-alt-1"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>


                <!-- Load More Content Button  -->
<!--                <a class="load-btn" href="#" id="load-pro"><span id="ti-port-load" class="ti-port-load-hide"></span><i class="fa fa-spinner"></i>View More </a>-->

            </div>
        </div>
    </section>
    <!-- End: Gallery Items
    ============================= -->

{% endblock %}